<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор стоимости недвижимости</title>
</head>

<body>
  <h1>
    Калькулятор стоимости недвижимости
  </h1>

<form method="post">
    <p>
    <label>Площадь квартиры</label>
    <input type="text" name="total_area" value="35">
    </p>
    <p>
    <label>Этаж </label>
    <input type="text" name="floor" value="5">
    </p>
     <p>
    <label>Минут до метро </label>
    <input type="text" name="min_to_metro" value="10">
    </p>
     <p>
    <label>Год постройки </label>
    <input type="text" name="construction_year" value="2005">
    </p>
      <p>
    <label>Количество комнат </label>
    <input type="text" name="number_of_rooms" value="1">
    </p>
     <p>
    <label>Высота потолков </label>
    <input type="text" name="ceiling_height" value="2.70">
    </p>
    <p>

    <input type="submit">
    </p>
</form>
<p>
{% if message %}
{{ message }}
{% endif %}
</p>

</body>
</html>